<h1>BLUE(ブルー・青)</h1>
<h2>典型的な特徴</h2>
<div>ブルーは楽しいことが大好きです。今を生きるタイプです。彼らは、明るいものを好み、ハッピーな人たちです。プルーは、リーダーが彼らにいい扱いをする限り、強いリーダーについていくのが好きです。ユーモアのセンスのある人たちが好きです。突発的な事やサプライズが大好きです。時問を厳守するのは苦手です。忘れっぽいタイプが多いです。浪費家が多く、貯金をしてる人はあまりいません。旅行やアドベンチャーが大好きです。太陽の光を浴びて、外で活動するのが好きです。とても社交的で、新しい人との出会いが大好きです。</div>
<h2>レッドの見分け方</h2>
<h3>服装</div>
明るめの色の服<br>
流行品が好き<br>
フォーマルよりもカジュアル<br>
群衆の中で目立つことが多い<br>
<h3>見た目</div>
流行を取り入れたヘアスタイル(ハイライト・カラー・スタイル)<br>
ジェルや装飾品を好む<br>
しわくちゃだったり、だらしない服の時もある<br>
<h3>声のトーン</div>
ハッピーで楽しそうな声のトーン<br>
早口で大声<br>
流行語やスラング、カジュアルな表現をよく使う<br>
<h3>タイムライン</div>
遅刻することが多い<br>
よく話が脱線して、ミーティングや計画の予定を狂わすことが多い<br>

<h2>DISFUNCTIONAL(機能不全)</h2>
<div>機能不全のブルーは、すべてにおいて常日頃遅刻します。彼らは、自分の今の言動がどんな結果を導くか、をよく考えないで行動してしまい、後悔だらけの人生になりがちです。とても優柔不断です。機能不全のブルーは、目の前のことに手いっぱいで、注意散漫になりがちです。フォローアップは大の苦手です。よく考えないで余計なことを口走ってしまうことがあるため、人との関係性を壊してしまうこともありえます。また、つい飲みすぎて、話過ぎる傾向もあります。機能不全のブルーは、「今を生きる」ことに夢中になりすぎて、一生かけても返せないような借金地獄に陥ることもあります。自分の問題を直視できずに、基本的に後回しにします。忘れっぽいので、怠け者とかあてにならない人間になりやすいです。</div>

<h2>HIGHLY FUNCTIONING(高機能)</h2>
<div>高機能のブルーは、時間を守ります。彼らは、自分の言動がどんな結果をもたらすか、について、ある程度のコントロールができています。フォーカスして、努力をすることにより、フォローアップが得意になることも可能です。ある程度は、ちゃんと考えてから発言します。お祝いとかパーティーの場でも、節度を保って楽しむことを身に着けています。問題も直視し、解決に努めます。高機能のブルーは日々の業務を分担し、予定通りに進むように管理します。無駄使いもほどほどにします。あまり楽しくなかったり、ワクワクしない業務でも、フォーカスをして脱線せずに業務進行します。つまらない、と思うことでも、フォーカスすることを学びます。</div>