<div class="result-statement">
  <div class="green">GREEN(グリーン・緑)</div>
</div>

<div class="result-detail">
  <div class="detail-item">
    <h2 class="green" onclick="obj=document.getElementById('open-g1').style; obj.display=(obj.display=='none')?'block':'none';">
      <a style="cursor:pointer;">グリーンの性格</a>
    </h2>
    <p id="open-g1" style="display:none;clear:both;">
      グリーンはとても論理的で計算高く思慮深いタイプです。
      思い付きで行動したり、即断即決するタイプではなく、たくさんのデータを集めて分析し、
      よく考えてから決断をすることが大好きです。
      グリーンは、他人のモチベーションに対して懐疑的です。
      グリーンは、直感や信念に頼るのではなく事実やデータを収集することを好みます。
      グリーンは現実主義派です。グリーンは、人に価値判断を下しがちです。
      グリーンは、詳細な計画がないと実行することができないので、
      そういった詳細がないとうまく機能できません。構成建てたものの考え方が好きです。
      サプライズとか、突発的なことを嫌います。完璧主義者です。
      感情を表に見せない、感情を抑え込んでいるタイプが多いです。
    </p>
  </div>
  <div class="detail-item">
    <h2 class="green" onclick="obj=document.getElementById('open-g2').style; obj.display=(obj.display=='none')?'block':'none';">
      <a style="cursor:pointer;">グリーンの特徴</a>
    </h2>
    <div id="open-g2" style="display:none;clear:both;">
      <h3 class="green">服装</h3>
      <p>
        ごく普通な、地味な服装<br>
        流行や派手さは取り入れていない<br>
        高価な服や、最新のトレンドは無視<br>
        フォーマルで保守的な服装
      </p>
      <h3 class="green">見た目</h3>
        <p>
          地味で普通な髪形<br>
          見た目はさほど気にしない<br>
          コンタクトレンズよりも、メガネを好むことが多い<br>
          ハゲていたり、見た目が劣っていることが気にならない<br>
          体型はきちんと引き締まりがちな人が多い(デブではない)
        </p>
      <h3 class="green">声のトーン</h3>
        <p>
          ゆっくり強めの声のトーンで平坦な口調<br>
          明瞭で良い言葉遣いが多いので、砕けた口調はあまり使わない
        </p>
      <h3 class="green">タイムライン</h3>
        <p>
          時間通り守るタイプ<br>
          人が遅刻すると怒る、グリーンを待たせないようにしてください<br>
          時間を効率的に使う<br>
          無駄話はほとんどしない<br>
        </p>
    </div>
  </div>

  <div class="detail-item">
    <h2 class="green" onclick="obj=document.getElementById('open-g3').style; obj.display=(obj.display=='none')?'block':'none';">
      <a style="cursor:pointer;">こうならないように注意!!（機能不全）</a>
    </h2>
    <p id="open-g3" style="display:none;clear:both;">
      機能不全のグリーンは、なんでも分析しすぎて、行動ができないでいる、
      石橋を叩きすぎて壊してしまうタイプです。
      過度な完璧主義で、誰でも全てにおいて完璧であることを求めるため、
      そうじゃない人がいるととても批判的です。
      許すことができない不寛容な人が多いです。
      親密になるのを極端に避け、人との距離を置きたがります。
      なんでもかんでも懐疑的で疑い深い性格です。
      その性格のため、書類や証拠をじっくりと吟味してからじゃないと行動を起こさないので、
      チャンスを逃してばかりです。機能不全のグリーンは、冷酷で残酷な面も多々あります。
      自己中心的にもなりがちです。彼らは、すべての議論で、自分のやり方通りに勝ちたがります。
      社交的なスキルは低いです。
    </p>
  </div>
  <div class="detail-item">
    <h2 class="green" onclick="obj=document.getElementById('open-g4').style; obj.display=(obj.display=='none')?'block':'none';">
      <a style="cursor:pointer;">こうならなれたら理想!!（高機能）</a>
    </h2>
    <p id="open-g4" style="display:none;clear:both;">
      高機能のグリーンは、机上の空論や御託を並べることよりも、
      ただ行動して経験から学ぶことの大切さを認識し、実行し始めています。
      彼らは、相手のことをよく知らないうちに勝手に決めつけて価値判断を下すことを、
      特に初対面で決めつけることをあまりしないようになっています。
      全ての口論に勝つ必要性がないことも理解しています。
      また、すべての決断に、詳細な事実の裏付けも必要がないことも理解しています。
      信念の重要さもわかります。
      また、気の知れた仲間内では、自分の感情を表現することも覚えています。
      高機能のグリーンは、完璧主義を捨てて、完璧でなくても、行動する事、
      やり遂げることの大切さ、またそちらの方向性への転換もできています。
      また、成功を目指す際に、細かいやり方にばかりフォーカスするのではなく、
      結果にフォーカスすることも意識できています。
    </p>
  </div>
</div>