<div class="result-statement">
  <span class="red">RED(レッド・赤)</span>
</div>

<div class="result-detail">
  <div class="detail-item">
    <h2 class="red"  onclick="obj=document.getElementById('open-r1').style; obj.display=(obj.display=='none')?'block':'none';">
      <a style="cursor:pointer;">レッドの性格</a>
    </h2>
    <p id="open-r1" style="display:none;clear:both;">
      レッドと言えば、自信家が多いです。チャレンジに立ち向かうのが大好きです。
      勝ちを取りに行く、勝ちにこだわるのがレッドです。外見が美しい人たちと集まるのが好きです。
      彼らは、内心は自信がなく不安で、人からの承認を渇望しています。
      なので、いつも人一倍達成することにこだわります。決断をするのは得意です。
      自己中心的です。他人とのかかわりで、衝動的になることがあります。
      なんでもベストなものを欲しがります。VP待過も大好きです。
      チームプレイヤーとしては、あまり向いてません。スポットライトを当てられて、注目を浴びるのが大好きです。
    </p>
  </div>
  <div class="detail-item">
    <h2 class="red" onclick="obj=document.getElementById('open-r2').style; obj.display=(obj.display=='none')?'block':'none';">
      <a style="cursor:pointer;">レッドの特徴</a>
    </h2>
    <div id="open-r2" style="display:none;clear:both;">
      <h3 class="red">服装</h3>
        <p>
          カジュアルよりもフォーマルを好む<br>
          高級品、デザイナー品、ブランド品(ビジネス&私服共)<br>
          上品、高貴でエレガントな装い
        </p>
      <h3 class="red">見た目</h3>
        <p>
          短く清潔感のあるヘアスタイル<br>
          流行品ではなくて、上品で高貴な髪型<br>
          だらしなく場違いな見た目をすることはほぼない<br>
        </p>
      <h3 class="red">声のトーン</h3>
        <p>
          大きく命令口調<br>
          冒涜的だったり、皮肉をいうこともある<br>
          早ロ
        </p>
      <h3 class="red">時間管理</h3>
        <p>
          予定ぎっしりなので、数分遅刻気味なことが多い<br>
          自分が時間を守って相手が時間を守らないと激怒する<br>
          いつも忙しそうにあくせくしている<br>
        </p>
    </div>
  </div>

  <div class="detail-item">
    <h2 class="red" onclick="obj=document.getElementById('open-r3').style; obj.display=(obj.display=='none')?'block':'none';">
      <a style="cursor:pointer;">こうならないように注意!!（機能不全）</a>
    </h2>
    <p id="open-r3" style="display:none;clear:both;">
      機能不全のレッドは、内心は不安を抱えており自信がないので、
      外側や見た目を強く見せることにより他人に自分の自身のなさや不安を気が付かれないように努力します。
      勝つためには、倫理的に間違ったこともやります。機能不全のレッドは、
      ソシオパス(反社会性パーソナリティ障害)になることもあり、自分だけの独特なモラルや世界で生きることもあります。
      他人からの賞賛を受けることで、自分の価値を感じられます。機能不全のレッドは、超自己中心的です。
      彼らは他人に対して暴言を吐いたり、罵倒しがちです。
      恐怖と圧力を使い、人々をコントロールしようとします。人の話を聞くのは無理です。
      機能不全のレッドは、VIP扱いが大好きで、他人にも自分をVP扱いするように要求します。
      他人が注目を浴びているとその人を恨みます。チームプレイはとても苦手です。
      他人に対して、とても不公平な扱いをし、他人に色々理不尽な要求をします。自慢が大好きです。
      彼らは、高価な持ち物を持つことで自己価値を確認します。機能不全のレッドはルールや法律、規則を破り自分勝手にふるまうのが好きです。
      機能不全のレッドは、自分には特別な権利が与えられてると、勘違いしがちです。
    </p>
  </div>
  <div class="detail-item">
    <h2 class="red" onclick="obj=document.getElementById('open-r4').style; obj.display=(obj.display=='none')?'block':'none';">
      <a style="cursor:pointer;">こうならなれたら理想!!（高機能）</a>
    </h2>
    <p id="open-r4" style="display:none;clear:both;">
      高機能のレッドは、法律や秩序・ルールを守りながら強いリーダーシップを発揮します。
      彼らは、勝つことにこだわりますが、倫理を守りながら勝ちを取りに行きます。
      彼らは、よいセルフイメージを持っており、自己価値を確認するために、他人からの賞賛を必要としません。
      高機能のレッドも、自己中心的な性格ではありますが、他人のニーズに対しても理解をしています。
      チャレンジを与えられると張り切って本領を発揮します。高機能のレッドは、人の話を聞くことを学び、
      決断をするプロセスにおいて他人の意見も取り入れることを学んでおります。
      VIP扱いは好みますが、絶対に必要、というわけではありません。注目を浴びるのは好きですが、
      他人が達成した功績も認め、賞賛します。目標を成し遂げるために努力を惜しみません。
      自分の感情を丸出しにすることはあまりありませんが、時と場合により、感情もうまく使います。彼らは他人に共感できます。
    </p>
  </div>
</div>
