<div class="result-statement">
  <span>YELLOW(イエロー・黄色)</span>
</div>

<div class="result-detail">
  <div class="detail-item">
    <h2>イエローの性格</h2>
    <p>
      イエローは、とても個人的な深い付き合いを求めて、フレンドリーな人たちです。
      イエローは、忠誠心が高く、チームプレイが得意です。イエローはリーダーというよりもサポータータイプです。
      しかし、倫理的に正しいリーダーにしかついていきません。イエローは、正直さと誠実さをとても重んじます。
      家族をとても大切にします。動物や、アウトドアも大好きです。環境保全に高い関心を持っています。
      生まれつきの平和主義者です。対決や対立を嫌うので、何がなんでも避けようとします。
      慈善団体でボランティアをするのが好きです。イエローは、物質主義・ブランド主義者とか、貧欲な人たちが嫌いです。
      また、イエローは胡散具い偽者みたいな人を嫌い、直感的です。イエローは、クリエイティブで表現力があります。
    </p>
  </div>
  <div class="detail-item">
    <h2>イエローの特徴</h2>
    <h3>服装</h3>
      <p>
        カジュアルでラフな格好が好き<br>
        高級品、流行品、派手な服装なしない<br>
        わりと地味な色が好き、派手て明るすぎる色は好まない
      </p>
    <h3>見た目</h3>
      <p>
        男女共に、長髪が好き<br>
        地味で普通な髪形が好き<br>
        高価なヘアスタイルや、高価で派手なジュエリーはつけない<br>
        一般的に、高級品は身につけない(車、家、洋服など)
      </p>
    <h3>声のトーン</h3>
      <p>
        ハッピーで明るめの声<br>
        柔らかくゆっくり目な話し方<br>
        怒鳴ったり、皮肉を言うことは極めてまれ
      </p>
  </div>

  <div class="detail-item">
    <h2>DISFUNCTIONAL(機能不全)</h2>
    <p>
      機能不全のイエローは、批判や拒絶に対して、過度に神経過敏です。
      彼らは、誰かが対抗してきたり怒鳴ってきたら、心を閉ざします。
      将来の対立を避けるために、自分の感情を押し殺して長い間恨みつらみを持ち続けます。
      我慢できなくなったら、感情を大爆発させます(レッドの爆発よりも最悪な大爆発です)。
      機能不全のイエローは、ゴールを目指したり、
      ビジネスでの成功や偉業を成し遂げるために高いモチベーションを持つようなことはしません。
      問題にばかりフォーカスし、くよくよし続けます。急いでるあなたの状況も完全に無視し、
      永遠と同じ話を愚痴り続けます。あなたが何かいうと、すぐに被害者になり感情を乱します。
      機能不全のイエローは、プロ級の過度の心配性です。何か、対立とか気に入らないことがあると、
      感情を取り乱してくよくよ泣き続けます。彼らは、人の言い訳や愚痴を信じ込み味方になり、
      そのせいで他人が目標達成できなくなっても、自分は思いやりのある人間であると、勘違いし満足します。
      機能不全のイエローは、とても騙されやすいです。
    </p>
  </div>
  <div class="detail-item">
    <h2>HIGHLY FUNCTIONING(高機能)</h2>
    <p>
      高機能のイエローは、批判や拒絶対して個人的に捉えずに建設的に捉えることができます、
      問題に引きずり込まれません。彼らは、同情するのではなくて、共感することができます。
      高機能のイエローは、相手が無駄詁をする時間がない時には、それをきちんと理解し、
      相手が失礼だと思うことなく、無駄話をやめることができます。彼らは、ゴールを目指して、
      結果にフォーカスするということを学んでいます。高機能のイエローは、対立状態にあっても、
      批判を恐れずに感情や意見をいい、建設的な解決方法の提示ができます、高機能のイエローは、
      自分たちが全員を助けることはできなく、助けられる進備ができてる人たちだけ、救うことができる、
      ということを認識しています。
    </p>
  </div>
</div>
