*{
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:link, a:visited, a:hover, a:active{
  color: #76787c;
}

.main {
  background: #f9f9f9;
}

.h1 {
  font-size: var(font-h1-size-large-lg);
}

.h2 {
  font-size: 2.5em;
  margin: 50px 0 30px;
  font-weight: 600;
  letter-spacing: unset;
  line-height: 1.5;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

p {
  line-height: 2.2;
  margin-bottom: 30px;
  background-position: 0 18px;
  /* font-size: 1.4em; */
}

:root {
  --font-family-main: "Open Sans","Helvetica Neue",Arial;
  --font-main-size: 1.125em;
  /* --font-h1-line-height-large-sm: 1.192;
  --font-h1-line-height-large-md: 1.226;
  --font-h1-line-height-large-lg: 1.25;
  --font-h1-size-large-sm: 3.25rem;
  --font-h1-size-large-md: 3.875rem;*/
  --font-h1-size-large-lg: 4.5rem; 
  /* --font-h1-spacing-large-sm: -0.7px;
  --font-h1-spacing-large-md: -0.8px;
  --font-h1-spacing-large-lg: -0.9px;
  --font-h1-size-md: 2.75rem;
  --font-h1-line-height-md: 1.318;
  --font-h1-spacing-md: -0.6px;
  --font-h1-size-lg: 3.375rem;
  --font-h1-line-height-lg: 1.3333;
  --font-h1-spacing-lg: -0.7px;
  --font-h1-size: 2.25rem;
  --font-h1-line-height: 1.278;
  --font-h1-spacing: -0.5px;
  --font-h2-size-bp-sm: 2.125rem;
  --font-h2-line-height-bp-sm: 1.294;
  --font-h2-spacing-bp-sm: -0.5px;
  --font-h2-line-height-bp-sm2: 1.37;
  --font-h2-size-bp-md: 2.375rem;
  --font-h2-line-height-bp-md: 1.158;
  --font-h2-spacing-bp-md: -0.5px;
  --font-h2-size-bp-lg: 2.875rem;
  --font-h2-line-height-bp-lg: 1.391;
  --font-h2-spacing-bp-lg: -0.6px;
  --font-h3-size-bp-sm: 1.875rem;
  --font-h3-line-height-bp-sm: 1.4;
  --font-h3-spacing-bp-sm: -0.5px;
  --font-h3-size-bp-md: 2rem;
  --font-h3-line-height-bp-md: 1.375;
  --font-h3-spacing-bp-md: -0.5px;
  --font-h3-size-bp-lg: 2.375rem;
  --font-h3-line-height-bp-lg: 1.4737;
  --font-h3-spacing-bp-lg: -0.5px; */
  --font-btn-font-weight: 600;
  --font-btn-30-size: 14px;
  --font-btn-30-line-height: 1.857143;
  --font-btn-40-size: 14px;
  --font-btn-40-line-height: 1.857143;
  --font-btn-50-size: 16px;
  --font-btn-50-line-height: 1.75;
  --font-btn-60-size: 18px;
  --font-btn-60-line-height: 1.667;
}

body{
  color: #76787c;
  font-family: var(--font-family-main);
  font-size: var(--font-main-size);
  font-stretch: var(--font-text-stretch);
  font-weight: var(--font-main-weight);
}

/********************* ヘッダー部分 *********************/
.top-page-header {
  position: sticky;
  top: 0;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #eeeff1;
  display: flex;
  height: 90px;
  padding: 0 20px;
  justify-content: space-between;
  margin: 0;
  z-index: 2;
}

.header_logo {
  font-size: 2em;
  line-height: 2em;
  color: #76787c;
  font-family: var(--font-family-main);
}

.lists {
  align-items: center;
  display: flex;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
}

.list {
  margin: 0 10px;
}

.header_right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}

.user-nickname {
  margin-right: 3vw;
}

.login {
  line-height: 32px;
  margin-right: 3vw;
}
/********************* ヘッダー部分 *********************/
/********************* フッター部分 *********************/
.footer {
  align-items: center;
  background-color: #76787c;
  border-top: 1px solid #76787c;
  display: flex;
  flex-direction: column;
  font-size: var(--font-p-sm-size-bp-sm);
  justify-content: center;
  line-height: var(--font-p-sm-line-height-bp-sm);
  margin: auto auto 0;
  padding: 20px 15px 100px;
}
/********************* フッター部分 *********************/
/********************* トップページ *********************/
.top_page_title-contents{
  padding: 60px 30px;
  background-color: #fff;
  font-size: 3.5em;
  color: #76787c;
  line-height: 1.4;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  border: none;
}

.top_page_title-contents p{
  margin: 30px 0;
}

.top_page_bottom {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 15px 0 90px;
  width: 100%;
}

.top_page_btn {
  font-size: 20px;
  height: 80px;
  padding: 19px 50px;
  background-color: #bcbec2;
  border-color: #bcbec2;
  border-radius: 40px;
  align-items: center;
  border: 1px solid transparent;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: var(--font-family-text);
  font-weight: var(--font-btn-font-weight);
  justify-content: center;
  line-height: 2;
  width: 280px;
}

.top_page_btn a {
  color: #fff;
  white-space: nowrap;
}

.top_page_btn:hover {
  font-size: 20px;
  height: 80px;
  padding: 19px 50px;
  background-color: #94969a;
  border-color: #94969a;
  border-radius: 40px;
  align-items: center;
  border: 1px solid transparent;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: var(--font-family-text);
  font-weight: var(--font-btn-font-weight);
  justify-content: center;
  line-height: 2;
  width: 280px;
}
/********************* トップページ *********************/
/********************* タイトル部分 *********************/
.title-contents{
  padding: 60px 30px;
  background-color: #bcbec2;
  font-size: 3.5em;
  color: #f9f9f9;
  line-height: 1.4;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  border: none;
}

.title-contents p{
  margin: 30px 0;
}
/********************* タイトル部分 *********************/
/********************* 診断テスト共通部分 *********************/
.test_explanation {
  align-items: center;
  background-color: #bcbec2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding: 15px;
  position: relative;
  border: none;
}

.test_explanation_item {
  align-items: center;
  background-color: hsla(0,0%,100%,.8);
  border-radius: 10px;
  display: flex;
  flex: 0 0 100%;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 550px;
  padding: 10px;
  position: relative;
  width: 100%;
  font-weight: 600;
  font-size: 1.08em;
  line-height: 1.5;
  text-align: center;
  margin: 80px 0;
}

/********************* 診断テスト共通部分 *********************/
/********************* 診断テスト前半部分 *********************/
.first_test_items {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 900px;
  padding: 15px;
  width: 100%;
}

.first_test_item {
  border-bottom: 1px solid #dddfe2;
  width: 100%;
  padding: 60px 0 45px;
}

.question {
  color: #76787c;
  font-weight: 600;
  font-size: var(--font-main-size);
  line-height: 1.5;
  text-align: center;
  margin-bottom: 20px;
}

.answer_title {
  font-size: 0.8em;
}

.item_description {
  color: #576071;
  font-weight: 600;
  font-size: var(--font-main-size);
  line-height: 2em;
}

.item_description th{
  padding: 0.1em;
  width: 800px;
  text-align: left;
}

.item_description td{
  width: 100px;
}

.button {
  text-align: center;
  cursor: pointer;
}

/********************* 診断テスト前半部分 *********************/
/********************* 診断テスト後半部分 *********************/
.second_test_items {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 900px;
  padding: 15px;
  width: 100%;
}

.second_test_item {
  border-bottom: 1px solid #dddfe2;
  width: 100%;
  padding: 60px 0 45px;
}

.option_title{
  text-align: center;
  line-height: 3em;
  font-size: 0.8em;
}

.option_a_description{
  color: #576071;
  font-weight: 600;
  font-size: var(--font-main-size);
  line-height: 3em;
  text-align: left;
  width: 200px;
}

.option_b_description{
  color: #576071;
  font-weight: 600;
  font-size: var(--font-main-size);
  line-height: 3em;
  text-align: right;
  width: 200px;
}

.a_button {
  text-align: center;
  line-height: 3em;
  width: 100px;
  cursor: pointer;
}
/********************* 診断テスト後半部分 *********************/
/********************* 送信ボタン *********************/
.page_bottom{
  background-color: #f9f9f9;
  align-items: center;
  border-bottom: 1px solid #dddfe2;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 700px;
  padding: 15px 0 90px;
  width: 100%;
}

input[type="submit"] {
  font-size: 20px;
  height: 80px;
  padding: 19px 50px;
  background-color: #bcbec2;
  border-color: #bcbec2;
  border-radius: 40px;
  align-items: center;
  border: 1px solid transparent;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: var(--font-family-text);
  font-weight: var(--font-btn-font-weight);
  justify-content: center;
  line-height: 2;
  width: 280px;
}

input[type="submit"]:hover {
  font-size: 20px;
  height: 80px;
  padding: 19px 50px;
  background-color: #94969a;
  border-color: #94969a;
  border-radius: 40px;
  align-items: center;
  border: 1px solid transparent;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: var(--font-family-text);
  font-weight: var(--font-btn-font-weight);
  justify-content: center;
  line-height: 2;
  width: 280px;
}
/********************* 送信ボタン *********************/
/********************* 診断結果確認 *********************/
.result {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 900px;
  padding: 15px;
  width: 100%;
  text-align: center;
}

.result-statement {
  width: 100%;
  padding: 60px 0 45px;
  font-size: 50px;
}

/* .result-statement span{
  color: var(--my-color);
} */

.color-explanation {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 900px;
  padding: 15px;
  width: 100%;
}

.result-detail {
  width: 100%;
}

/********************* 診断結果確認 *********************/
/********************* ユーザー管理機能 *********************/

.registration-main {
  width: 100%;
  min-width: 800px;
  height: 100%;
  display: flex;
  justify-content: center;
}

.form-wrap {
  width: 60%;
  padding-bottom: 70px;
}

.form-header {
  width: 100%;
  height: 120px;
  text-align: center;
  font-size: 22px;
}

.form-header-text {
  line-height: 100px;
  border-bottom: 1px solid #f5f5f5;
  font-weight: bold;
}

.form-group {
  width: 55%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.form-group:first-child {
  padding: 0;
}

.form-text-wrap {
  width: 100%;
  height: 20%;
}

.form-text {
  font-size: 14px;
  font-weight: bold;
}

.input-default {
  width: 100%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.info-text {
  color: #888;
  font-size: 15px;
  margin-top: 3px;
}

.form-info-header {
  font-weight: bold;
}

.form-info-text {
  font-size: 15px;
}

.input-name-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.input-name {
  width: 130px;
  margin: 5px 20px 0 20px;
  height: 48px;
  line-height: 30px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 14px;
  resize: none;
}

.input-gender-wrap {
  display: flex;
}

.input-gender-wrap label{
  margin: 10px;
}

.input-birth-wrap {
  display: flex;
  flex-wrap: wrap;
}

.input-birth-wrap select {
  width: 75px;
  margin-top: 5px;
  height: 45px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 12px;
  cursor: pointer;
}

.input-birth-wrap p {
  line-height: 60px;
  padding: 0 5px;
}

.field_with_errors {
  display: contents;
}

.form-bottom-text {
  /* font-size: 15px; */
  margin-top: 10px;
  text-align: center;
}

.form-bottom-text:last-child {
  margin: 0;
  padding-bottom: 50px;
}

.form-bottom-text>span {
  color: #0099e8;
  cursor: pointer;
}

.register-btn {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.register-info {
  margin: 30px 180px 0 0;
  color: #0099e8;
  text-align: right;
  cursor: pointer;
}

.indispensable {
  background: #94969a;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.login-btn {
  width: 50%;
  margin: 50px auto 0;
  text-align: center;
}

/********************* ユーザー管理機能 *********************/
/********************* 他のユーザーの結果も見るボタン *********************/
/* .look_btn {
  text-align: center;
  margin: 50px auto 100px;
} */
.show_page_bottom {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 15px 0 90px;
  width: 100%;
}

.look_btn {
  font-size: 20px;
  height: 80px;
  padding: 19px 50px;
  background-color: #bcbec2;
  border-color: #bcbec2;
  border-radius: 40px;
  align-items: center;
  border: 1px solid transparent;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: var(--font-family-text);
  font-weight: var(--font-btn-font-weight);
  justify-content: center;
  line-height: 2;
  width: 280px;
}

.look_btn a {
  color: #fff;
  white-space: nowrap;
}

.look_btn:hover {
  font-size: 20px;
  height: 80px;
  padding: 19px 50px;
  background-color: #94969a;
  border-color: #94969a;
  border-radius: 40px;
  align-items: center;
  border: 1px solid transparent;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: var(--font-family-text);
  font-weight: var(--font-btn-font-weight);
  justify-content: center;
  line-height: 2;
  width: 280px;
}
/********************* 他のユーザーの結果も見るボタン *********************/
/********************* 色設定 *********************/
.red {
  color: rgba(255, 99, 132, 0.5);
}

.yellow {
  color: rgba(255, 205, 86, 0.5);
}

.green {
  color: rgba(75, 192, 192, 0.5);
}

.blue {
  color: rgba(54, 162, 235, 0.5);
}
/********************* 色設定 *********************/
/********************* analysisページ *********************/
.charts {
  display: flex;
}
/********************* analysisページ *********************/