<%= render "shared/header" %>

<body>
  <div class="top_page_title-contents">
    <p>無料性格診断テスト</p>
  </div>

  <div class="top_page_bottom">
    <div class="top_page_btn">
      <%= link_to '性格診断テストを受ける', new_tests_path %>
    </div>
  </div>

</body>
<%= render "shared/footer" %>